.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 4rem;
    font-weight: bold;
}

.loading {
    font-size: 1.5rem;
}
